@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url("https://fxtwitter.com/font.ttf");
  }
  
:root {
    --ios-height: 100vh;
    --top-height: calc(6vh + 2vw);
 }

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    height: var(--ios-height);
    overflow: hidden;
} 


a{
    color: unset;
    text-decoration: unset;
}

a,
a:link,
a:focus,
a:visited,
a:active,
a:-webkit-any-link,
:link{
    color: unset;
    text-decoration: unset;
}

a:hover{
    color: #8ebf42;
}

::-webkit-scrollbar {
    width: 1vmin;
    
}

::-webkit-scrollbar-track {
    background: #171717;
    border-radius: .5vmin;
    margin: 2vmin 0 2vmin;
}

::-webkit-scrollbar-thumb {
    background: #e8e8e8;
    border-radius: .5vmin;
}

::-webkit-scrollbar-thumb:hover {
    background: #8ebf42;
}

::selection {
    color: #171717;
    background-color: #e8e8e8;
}

.base{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Paytone One','NotoColorEmojiLimited', sans-serif;
    background-color: #222222;
    color: #e8e8e8;
}

.top{
    height: var(--top-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 9vmin;
    padding: 1vmin 0 1vmin;
    /*margin: 0 20vw 0;
    border-bottom: #e8e8e8 .1vmin solid;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.top:hover{
    color: #8ebf42;
    cursor: pointer;
}
.bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.tweetCont{
    flex: 2;
    padding: calc( 1vh + .25vw ) 10% 0;
 
    overflow-y: auto;
    max-height: calc( var(--ios-height) - var(--top-height)  - calc( 1vh + .25vw )  );
}

.tweet{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #171717;
    margin: 0 0 calc( 2vh + .5vw );
    padding: 1vmin 0 1vmin;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 7px;
    font-size: 18px;
}

.side{
    flex: 1;
    overflow-y: auto;
    max-height: calc( var(--ios-height) - var(--top-height) - calc( 1vh + .25vw ) );
}
.by{
    color: #8ebf42;
}
.by:hover{
    color: #F74843;
}
/* Tweet */
.desc{
    padding: 0 calc( 1.5vh + .25vw ) 0;
}

.auth,.meta{
    display: flex;
    flex-direction: row;
    gap: 1%;
    font-size: 1.2em;
    padding: 0 calc( .5vh + .125vw ) 0;
}
.aname{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.aname,.type{
    flex: 1;
}
.type{
    text-align: right;
    margin: auto 2% auto;
}
.aimage{
    border-radius: 50%;
    border: #8ebf42 .3vmin solid;
    height: 100%;
    width: auto;
    margin: auto;
    /* No Drag */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.media{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: scale-down;
    background-color: black;
}
.quote{
    margin: auto;
    width: 90%;
    border-radius: .5vmin;
    border: #222222 solid .5vmin;
    padding: .5vmin;
}
.qname{
    color: #8ebf42;
}
.cont,.date{
    margin: auto 0 auto;
    
}
.date{
    margin-left: 2%;
}
.share{
    margin-left: auto;
    height: 2em;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.share:hover{
    transform: scale(.8);
}
.share:active{
    transform: scale(2);
}
.auth,.desc,.media,.quote{
    margin-bottom: 2vmin;
}

/* Settings */
.settings,.info{
    font-size: 35px;
    padding: 1vmin;
}
.opt{
    font-size: .49em;
    user-select: none;
    white-space: nowrap;
}
.Iinner{
    font-size: .5em;
}
/* Preview */

img:not(.previmg,.aimage){
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.previmgcont {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #171717b7;
}

.previmg {
    margin: auto;
    cursor: zoom-out !important;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    object-fit: contain;
}

/* Block */

#block {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1.75vh + .25vw);
    text-align: center;
}
#block .warn{
    font-size: 2em;
    color: #F74843;
    text-align: center;
}
.boptions{
    display: flex;
    flex-direction: row; 
    gap: 1.5vmin;
}
.boptions>div {
    padding: 2vh 2vw;
    border: solid .5vmin #c5c5c5;
    color: #e8e8e8;
    border-radius: .5vmin;
    transition-duration: .15s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    user-select: none;
    font-size: 1em;
}

.boptions>div:hover {
    transform: scale(1.02);
    border: solid .5vmin #8ebf42;
}

.boptions>div:active {
    transform: scale(.98);
}

@media (max-aspect-ratio: 4/4), (max-height: 500px), (max-width: 1100px){
    .side{
        display: none;
    }
    .tweet{
        font-size: 12px;
    }
    .tweetCont{
        padding: 0 5% 0;
    }
    .boptions{
        flex-direction: column;
    }
}
