{% extends 'base.html' %}

{% block head %}
   <title> TwitFix Latest</title>
   <script>
        function unblock() {
                var v = document.getElementById("block");
                v.style.display = "none";
        }
   </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Paytone+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

        html, body {
                height: 100%;
                text-align:center;
                background: #222222;
                color: white;
                font-family: 'Paytone One', sans-serif;
                font-size: 2vw;
        }

        html {
                display: table;
                margin: auto;
        }

        body {
                display: table-cell;
                vertical-align: middle;
                text-align:center;
        }

        a {
                color: #8ebf42;
        }

        #block {
                position: fixed;
                height: 100%;
                width: 75%;
                background: #222222;
                display: flex;
                align-items: center;
                justify-content: center;
        }
    </style>
    <link rel="alternate" href="{{ url }}/oembed.json?desc={{ urlUser }}&user={{ urlDesc }}&link={{ urlLink }}" type="application/json+oembed" title="{{ user }}">
{% endblock %}

{% block body %}
<div id="block" onclick="unblock();">
Potentially NSFW Content: Click if you are over 18
</div>
<a href="{{ repo }}">TwitFix</a> Latest Video </br>
WARNING: Video content is not screened so may contain NSFW Content </br></br>
 <video width="720" height="480" controls>
  <source src="{{ vidlink }}" type="video/mp4">
</video>
</br></br>
<a href="{{ tweet }}">Original Tweet</a></br>
Original Author: {{ user }} </br>
<button onClick="window.location.reload();">Another?</button>
<button onclick="navigator.clipboard.writeText('{{ vidlink }}');
">Copy Link!</button>
{% endblock %}
