{% extends 'base.html' %}
<!-- 
    {{ color }}   - Custom Color Code set in the TwitFix Config
    {{ appname }} - Custom Appname set in the TwitFix Config
    {{ user }}    - Username of the Source Tweet
    {{ pic }}     - Thumbnail Image for a given video
    {{ vidlink }} - Direct link back to the source tweet
    {{ vidurl }}  - Direct MP4 link to the video contained in the tweet
    {{ desc }}    - Tweet Text
    {{ url }}     - Base URL of the site hosting TwitFix
    {{ urlDesc }} - HTTP Encoded Tweet Text
    {{ urlUser }} - HTTP Encoded Username
    {{ urlLink }} - HTTP Encoded source link
    {{ pfp }}     - URL of the posters PFP
    {{ screenName }} - Users base username
    {{ rts }}     - Retweet Count
    {{ likes }}   - Like Count
    {{ time }}    - Time Created
 -->
{% block head %}
    <meta content="text/html; charset=UTF-8"        http-equiv="Content-Type" />
    <meta content="{{ color }}"                     data-react-helmet="true" name="theme-color" />
    <meta property="og:site_name"                   content="{{ appname }}"/>
    <meta property="og:image"                       content="{{ pfp }}"   />

    <meta name="twitter:card"                       content="tweet"       />
    <meta name="twitter:title"                      content="{{ user }} (@{{ screenName }})"  />
    <meta name="twitter:image"                      content="{{ pic }}"   />
    <meta name="twitter:creator"                    content="@{{ user }}" />

    <meta property="og:description"                 content="{{ desc }}"  />
 
    <link rel="alternate" href="{{ url }}/oembed.json?desc={{ urlUser }}&user=Twitter&link={{ urlLink }}&ttype=link" type="application/json+oembed" title="{{ user }}">
    <meta http-equiv = "refresh" content = "0; url = {{ vidlink }}" />
{% endblock %}

{% block body %}
Redirecting you to the tweet in a moment. <a href="{{ vidlink }}">Or click here.</a>
{% endblock %}
