{% extends 'base.html' %}

{% block head %}
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content="{{ color }}"  name="theme-color" />
    <meta property="og:site_name" content="{{ appname }}">

    <meta name="twitter:card"                       content="player" />
    <meta name="twitter:title"                      content="{{ user }} (@{{ screenName }})"  />
    <meta name="twitter:image"                      content="{{ pic }}" />
    <meta name="twitter:player:width"               content="720" />
    <meta name="twitter:player:height"              content="480" />
    <meta name="twitter:player:stream"              content="{{ vidurl }}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" /> 
    
    <meta property="og:url"                content="{{ vidlink }}" />
    <meta property="og:video"              content="{{ vidurl }}" />
    <meta property="og:video:secure_url"   content="{{ vidurl }}" />
    <meta property="og:video:type"         content="video/mp4" />
    <meta property="og:video:width"        content="720" />
    <meta property="og:video:height"       content="480" />
    <meta name="twitter:title"             content="{{ user }} (@{{ screenName }})"  />
    <meta property="og:image"              content="{{ pic }}" />

    <link rel="alternate" href="{{ url }}/oembed.json?desc={{ urlUser }}&user={{ urlDesc }}&link={{ urlLink }}&ttype=video" type="application/json+oembed" title="{{ user }}">
    <meta http-equiv = "refresh" content = "0; url = {{ vidlink }}" />
{% endblock %}

{% block body %}
Redirecting you to the tweet in a moment. <a href="{{ vidlink }}">Or click here.</a>
{% endblock %}
